/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  max-width: 600px;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.example-box {
  padding: 40px 20px;
  text-align:center;
  border: 1px solid #ddd;
  max-width: 400px;
}

.button {
  display: inline-block;
  padding: 10px;
  background: purple;
  color: white;
  text-align:center;
  text-decoration: none;
  margin: 0 auto;
}

.button:hover {
  background: magenta;
}